<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4push</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
	bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/
	bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <div class= "header">
    <div class="topheader">
     <a href="http://www.koyo.ac.jp/"></a>
    </div>
    <div class="logotext">
      
    </div>
    <dic class="header_right">
      
  </div>
  <div class=main>
    <div class="main-center">
  <h3>使い方説明</h3>
  <p>　このアプリは入力した内容を元にpdfファイルを出力します。<br>
  手順に従いpdfを出力して印刷し、印鑑を押してから事務室に提出してください。<br>
  <a href="/form">入力フォームはこちらから</a>
     <h3>手順①</h3>
     <h3>手順②</h3>
    </div>
  </div>
  
</body>
</html>
